    // 들여쓰기가 중요하다(Like Python)
html
    head
        title Index Page
    body
        h1 Hello Jade .!
        h2 Author JH
        hr
        a(href="http://www.naver.com", data-test="multiple Attribute") Go To Naver